.form-group.string.optional.invoice_invoice_number
  label.string.optional.control-label for="" = label
  input#invoice_invoice_number.string.optional.form-control name="invoice[invoice_number]" type="text" /
