// Place all the styles related to the attachments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.remove_attachment {
  position: absolute;
  right: 15px;
}

.add_attachment {
  position: absolute;
  right: 15px;
  top: 0px;
}