$orange-main: #ffd777;
$orange-dark: #fcb322;
$orange-saturated: #ff865c;

$blue-light: #64c3c2;
$blue-lightest: #68dff0;
$blue-light-green: #48bcb4;

$violet-light: #ac92ec;
$violet-dark: #967adc;

$red-lightest: #ed5565;
$red-dark: #da4453;

$green-lightest: #48cfad;
$green-dark: #37bc9b;

$grey-light: #797979;
$grey: #f6f6f6;
$shadow-grey: #b3b3b3;
$grey-table-border-color: #e5e5e5;
$grey-light-lightest: #F2F2F2;

$black-light: #1a1a1a;
$black: #353535;
