// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.non-resizable {
  resize: vertical;
}

.deleteAction {
  color: red;
  cursor: pointer;
}

.createComment {
  color: #0000ff;
  border-radius: 2px;
  cursor: pointer;
}

.right-inner-addon {
  position: relative;
}

.right-inner-addon input {
  padding-right: 30px;
}

.right-inner-addon i {
  position: absolute;
  right: 0px;
  padding: 6px 45px;
  pointer-events: none;
  color: #797979;
  font-style: normal;
}

.comment_field_payment {
  resize: vertical;
  width: 100% !important;

  margin-bottom: 5px;
  margin-top: 5px;
}