$border: grey;

.img-left{
  margin: 5px;
}

.borderise {
  padding: 10px;
  border-radius: 5px;
}

//Form
#invoice {
  @extend .borderise;
  #logo {
    img {
      @extend .img-left;
    }
  }

  section {
    margin-right: 0;
    margin-left: 0;
  }

  #company-client {
    strong {
      margin-left: 10px;
    }
  }

  #footer {
    background: #DEE2F1;
  }
}

#tags .glyphicon {
  padding-left: 5px;
}

.filter_glyph {
  top: 21px;
}

.filter_text {


  font-family: FontAwesome;
  font-size: 12px;
}

.white-panel {
  footer {
    padding-right: 10px;
    padding-bottom: 10px;

    .btn {
      margin-left: 10px;
    }
  }
}


.cd-panel {
  position: fixed;
  top: 65px;
  right: -2px;
  width: 65%;
  bottom: 5px;
  visibility: hidden;
  overflow: scroll;
  margin-bottom: 0;

  &.is-visible {
    visibility: visible;
  }
}

.panel-body > a.btn {
  width: 100% !important;
}

.index_invoice {
  margin: 0px 0px 0px -5px;
}
.panel_invoice {
  border-color: #68dff0;
}
.filter{
  position: absolute;
  right: 10px;
  z-index: 1;
  top: -60px;
  width: auto;
  .panel-title {
    padding-top: 0px;
  }
  .panel-heading{
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 3px;

    border-bottom: 1px solid #68dff0;
    background: #68dff0;
    color: white;
  }
}


.filter_showpage {
  position: absolute;
  right: 4px;
  z-index: 1;
  top: 25px;

  a.btn {
    margin-bottom: 10px;
  }

  .panel-heading{
    background: #68dff0;
    color: white;
  }
}

.tags {
  padding-left: 0px;
}
