// Place all the styles related to the Invoices controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$border: grey;

.img-left{
  margin: 5px;
}

//Form
#invoice {
  padding: 10px;
  border: 1px solid $border;
  border-radius: 5px;

  #logo {
    img {
      @extend .img-left;
    }
  }

  section {
    margin-right: 0;
    margin-left: 0;
  }

  #footer {
    background: #DEE2F1;
  }
}